body,
html {
  height: 100vh;
  width: 100vw;
  background-color: white;
  margin: 0;
  overflow: x-hidden;
  display: flex;
  flex-direction: column;
}

nav {
  height: 6vw;
  min-height: 75px;
  background-color: rgb(124, 5, 5);
  border-style: groove;
  border-color: gold;
}

.menuItems {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
  a {
    border-style: groove;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    &:hover {
      background-color: black;
    }
  }
  li {
    list-style: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }
}

.heroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  img {
    width: 80vw;
    max-width: 1000px;
  }
  h1 {
    text-align: center;
    line-height: 2em;
  }
}

footer {
  justify-content: center;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 12vh;
  max-height: 12vh;
  width: 100vw;
  background-color: gray;
  height: 6vw;
  min-height: 75px;
  a {
    border-style: groove;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    &:hover {
      background-color: black;
    }
  }
  h1 {
    margin: 0px;
  }
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    padding: 0;
  }
  li {
    list-style: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }
}

.inactive {
  a {
    text-decoration: none;
    color: white;
  }
}

.active {
  a {
    text-decoration: none;
    color: white;
    background-color: black;
  }
}

.main {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  justify-content: center;
  align-content: center;
  h1 {
    text-align: center;
  }
}

.allMovies, .screeningList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;
  width: 80vw;
  max-width: 1100px;
  justify-content: space-between;
  padding: 10px;
  border-style: solid;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 20px;
  img {
    width: 20vw;
    max-width: 250px;
    height: 30vw;
    max-height: 372px;
    margin: 10px;
    border-style: solid;
  }
  a {
    text-decoration: none;
    color: black;
    &:hover {
      cursor: pointer;
    }
  }
}

.movieById {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  img {
    width: 80vw;
    max-width: 300px;
    border-style: solid;
    border-radius: 5px;
  }
  h2 {
    text-align: center;
    line-height: 2em;
    font-size: 4em;
    margin: 0;
  }
  p {
    line-height: 2em;
    margin: 0;
    width: 80vw;
    max-width: 1000px;
    border-style: solid;
    font-size: 1.2em;
    text-align: left;
    padding: 10px;
    margin-top: 5px;
  }
}

li.movies, li.screening {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.screeningImage {
  width: 20vw;
}

.screeningList {
  a {
    display: flex;
    flex-direction: column;
    padding: 5px;
    color: white;
  }
}

li.screening {
  border-style: solid;
  border-radius: 5px;
  margin: 10px;
  background-color: rgb(124, 5, 5);
  color: white;
}

p.date, p.room {
  margin-bottom: 5px;
  margin-top: 0px;
  padding: 0;
  
}
