<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>My first server</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="module" src="https://md-block.verou.me/md-block.js"></script>  
    <script type='module' src='/indexScreenings.js' defer></script> 
    <script type='module' src='/movieScreenings.js' defer></script> 
    <script type='module' src='/reviewsRenderPagination.js' defer></script> 
    <link rel="stylesheet" type="text/css" href="/main.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style src="/static/form.js" defer ></style>  
</head>

  <body>
    <header>
      {{> navbar}}
    </header>
    <main class="main">
      {{{body}}}
    </main>
    <footer class="footer">
      {{> footer}}
    </footer>
  </body>
</html>