body,
html {
  height: 100vh;
  width: 100vw;
  background-color: white;
  margin: 0;
  overflow: x-hidden;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

nav {
  height: 6vw;
  min-height: 75px;
  background-color: rgb(124, 5, 5);
  border-style: groove;
  border-color: gold;
}

.menuItems {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
}
.menuItems a {
  border-style: groove;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
}
.menuItems a:hover {
  background-color: black;
}
.menuItems li {
  list-style: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.heroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.heroContainer img {
  width: 80vw;
  max-width: 1000px;
}
.heroContainer h1 {
  text-align: center;
  line-height: 2em;
}

footer {
  justify-content: center;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 12vh;
  max-height: 12vh;
  width: 100vw;
  background-color: gray;
  height: 6vw;
  min-height: 75px;
}
footer a {
  border-style: groove;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
}
footer a:hover {
  background-color: black;
}
footer h1 {
  margin: 0px;
}
footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  padding: 0;
}
footer li {
  list-style: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.inactive a {
  text-decoration: none;
  color: white;
}

.active a {
  text-decoration: none;
  color: white;
  background-color: black;
}

.main {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
}
.main h1 {
  text-align: center;
}

.allMovies,
.screeningList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;
  width: 80vw;
  max-width: 1100px;
  justify-content: space-between;
  padding: 10px;
  border-style: solid;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 20px;
}
.allMovies img,
.screeningList img {
  width: 20vw;
  max-width: 250px;
  height: 30vw;
  max-height: 372px;
  margin: 10px;
  border-style: solid;
}
.allMovies a,
.screeningList a {
  text-decoration: none;
  color: black;
}
.allMovies a:hover,
.screeningList a:hover {
  cursor: pointer;
}

.movieById {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.movieById img {
  width: 80vw;
  max-width: 300px;
  border-style: solid;
  border-radius: 5px;
}
.movieById h2 {
  text-align: center;
  line-height: 2em;
  font-size: 4em;
  margin: 0;
}
.movieById p {
  line-height: 2em;
  margin: 0;
  width: 80vw;
  max-width: 1000px;
  border-style: solid;
  font-size: 1.2em;
  text-align: left;
  padding: 10px;
  margin-top: 5px;
}

li.movies,
li.screening {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.screeningImage {
  width: 20vw;
}

.screeningList a {
  display: flex;
  flex-direction: column;
  padding: 5px;
  color: white;
}

li.screening {
  border-style: solid;
  border-radius: 5px;
  margin: 10px;
  background-color: rgb(124, 5, 5);
  color: white;
}

p.date,
p.room {
  margin-bottom: 5px;
  margin-top: 0px;
  padding: 0;
}

.loginBox {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: rgb(75, 75, 75);
  height: 500px;
  width: 400px;
  margin-bottom: 10vh;
  border-radius: 5px;
}

.loginHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  color: gold;
  margin-top: 0;
  font-size: 32px;
}

.loginSubheader {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.usernameField,
.passwordField {
  width: 300px;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
}
.usernameField:focus,
.passwordField:focus {
  border: 2px solid rgb(124, 5, 5);
}

.usernameField {
  margin-bottom: 10px;
}

.forgot {
  color: white;
  text-decoration: none;
}
.forgot:hover {
  cursor: pointer;
  text-decoration: underline;
}

.loginButton,
.signupButton {
  width: 300px;
  height: 40px;
}

.loginButton {
  margin-bottom: 10px;
}/*# sourceMappingURL=main.css.map */