<div class='heroContainer' role="banner">
  <h1>We don't make beer.<br>But if we did, it would probably be the best beer in the world!</h1>
  <img class='headerImage' src={{{image}}} alt='' aria-hidden="true" />
</div>
