<div class='heroContainer' role="banner">
  <h1>If you need assistance...<br />Please call our support team with your
    intergalactic communicator!<br />But seriously, don't. We're extremely busy!</h1>
  <img class='headerImage' src={{{image}}} alt='' role="img" aria-hidden="true" />
</div>
