



<div class='loginBox'>
  <h2 class='loginHeader'>Awesome Cinema</h2>
  <h3 class='loginSubheader'>Login or signup</h3>
  <form class='loginForm'>
    <input type='email' class='usernameField' placeholder='Email' />
    <input type='password' class='passwordField' placeholder='Password' />
    <p class='forgot'>Forgot your password?</p>
    <md-filled-button
      class='loginButton mdc-theme--primary-bg'
      id='loginButton'
    >Login</md-filled-button>
  </form>
  <md-outlined-button
    class='signupButton'
    id='signupButton'
  >Signup</md-outlined-button>
</div>