<div class="movieById">
  <h2>{{movie.title}}</h2>
  <img src="{{movie.image}}" alt="{{movie.title}}" />
  <md-block>{{movie.intro}}</md-block>
  <div>
    <h3>Leave a review on this movie </h3>
    <form id="form">
      <input name="name" type="text" placeholder="Name" />
      <input name="comment" type="text" placeholder="Leave comment" />
      <input name="rating" type="text" placeholder="Give rating 1-5" />
      <button type="submit"> Submit</button>
    </form>
  </div>
</div>


<script>

const form = document.getElementById('form');

form.addEventListener('submit', function (e) {
  e.preventDefault();

  const formData = new FormData (form);
  const payload = new URLSearchParams(formData);

  console.log([...payload]);

  fetch('/form', {
    method: "POST",
    headers: {
      'Content-Type': 'application/x-www-form-urlencoded',
    },
    body: payload,
  })
  .then((res) => res.json())
  .then((data) => console.log(data))
  .catch((err)  => console.log(err));
  

});
</script>
