<h1>All movies currently being shown! .. I think.</h1>
<ul class='allMovies'>
  {{#each movieIDs}}
    <li class='movies'>
      <a href='/movie/{{this.id}}'>
        <img src='{{this.image}}' alt='{{this.title}}' />
        <h2>{{this.title}}</h2>
      </a>
    </li>
  {{/each}}
</ul>