<h2 class='signupHeader'>
  Sign up for Awesome Cinema
</h2>
<div class='signupBox'>
  <form class='signupForm' id='signupForm'>
    <md-outlined-text-field
      type='text'
      name='firstName'
      label='First Name'
      value=''
      id='firstName'
      required
    >
    </md-outlined-text-field>
    <md-outlined-text-field
      type='text'
      name='lastName'
      label='Last Name'
      value=''
      id='lastName'
      required
    >
    </md-outlined-text-field>
    <md-outlined-text-field
      type='tel'
      name='phone'
      label='Phone Number'
      value=''
      id='phone'
      required
    >
    </md-outlined-text-field>
    <md-outlined-text-field
      type='email'
      name='email'
      label='Email Address'
      value=''
      id='email'
      required
    >
    </md-outlined-text-field>
    <md-outlined-text-field
      id='signupPassword'
      type='password'
      name='password'
      label='Password'
      value=''
      required
    >
    </md-outlined-text-field>

    <div class='passwordStrength'>
      <p class='strengthP'>Password Strength</p>
      <div class='passwordCircles'><div id='emptyCircleOne'><i
            class='fa-regular fa-circle'
          ></i></div><div id='emptyCircleTwo'><i
            class='fa-regular fa-circle'
          ></i></div><div id='emptyCircleThree'><i
            class='fa-regular fa-circle'
          ></i></div></div>
    </div>
    <md-filled-button
      class='signupButton'
      id='signupPageButton'
      type='submit'
    >Sign Up</md-filled-button>
  </form>
</div>